# Entorno (recomendado en desarrollo)
rust_env="development"

# Obligatorio si compilas/ejecutas desde el código:
# Application ID de la app de Clash Royale en Discord (se recomienda no cambiarlo)
DISCORD_CLIENT_ID=1112858099854876742

# Obligatorio si compilas/ejecutas desde el código:
# Token del Clash Royale API (JWT)
CLASH_ROYALE_API_KEY="TU_TOKEN_AQUI"

# Opcional: si lo pones, sale como valor por defecto al pedirte el TAG
CLASH_ROYALE_PLAYER_TAG="#ABC123"

# Base URL para los iconos de la arena, si editas esto, no funcionará.
ARENA_ASSET_BASE_URL="https://www.kirakohler.es/resources/ClashRPC"

# Debug opcional (0/1, true/false, yes/no)
DEBUG_ARENA=0
DEBUG_ARENA_FETCH=0

# Se recomiendan valores por defecto.
PLAYER_POLL_MS=30000
BATTLELOG_POLL_MS=30000
RPC_TICK_MS=5000